/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  /* Offset anchors/fragments so they don't appear under the sticky header */
  scroll-padding-top: 200px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

th {
  font-weight: 500; /* semi-bold */
}

a {
  text-decoration: none;
}

a:link {
  color: #0060df;
}

/* Include :link with :hover so we don't underline with no @href */
a:link:hover,
a:active {
  text-decoration: underline;
}

a:visited {
  color: #00215b;
}

body {
  background-color: #f9f9fa;
  color: #0c0c0d;
  margin: 0;
}

#chooser, #results {
  padding: 8px;
}

#results {
  padding-top: 0;
}

#chooser {
  background-color: inherit;
  font-size: 0.85em;
  position: sticky;
  top: -2.1em;
  z-index: 1;
}

#chooser tbody input {
  text-overflow: ellipsis;
  overflow: hidden;
}

#oldCommit, #newCommit {
  max-width: 45vw;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
}

progress + span {
  font-size: 0.8em;
  opacity: 0.9;
}

progress:not([hidden]) + span {
  display: none;
}

fieldset, legend {
  all: unset;
}

legend {
  display: inline;
  /* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=653870 */
  float: left;
}

#results table {
  border-collapse: collapse;
  margin: 0 8px;
  width: calc(100% - 16px);
}

summary {
  background-color: #f9f9fa;
  cursor: pointer;
  position: sticky;
  top: 6em;
}

summary > h2 {
  display: inline-block;
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 0.8em;
}

summary > span {
  margin-left: 1em;
  margin-right: 1em;
}

summary .different {
  color: #ff0039;
}

/* Only if the whole platform is similar */
summary .similar:first-child:last-child {
  color: #058b00;
}

#oldDate, #oldCommit,
#newDate, #newCommit,
#results td {
  padding: 1px 5px;
}

#results tbody > tr:hover {
  background: #DDD;
}

tr:target {
  background: #00feff80;
  /* Force the permalink fragment row to be visible since we don't add all filters to the URL */
  display: table-row !important;
}

/* Highlight the row where the lightbox left off */
#results tbody > tr:focus-within {
  background: #fceec4;
}

/* Combination name column links */
#results tbody > tr > td:first-child > a {
  color: inherit;
  text-decoration: none;
}

tr.similar > .diffCell {
  background: #058b00;
  color: white;
  text-align: right;
}

tr.error > .diffCell {
  background: #d70022;
  color: white;
}

tr.missing_after > .diffCell,
tr.missing_before > .diffCell {
  background: #ffe900;
}

tr.different > .diffCell {
  background: #b5007f;
  color: white;
  text-align: right;
}

.diffCell a:link {
  color: inherit;
}

tr.different > .diffCell a:visited {
  color: #e3e3e3;
}

/* Must be below the equivalent tr.different since they are both applied */
tr.known_inconsistency > .diffCell {
  background: lightblue;
  color: #0c0c0d;
  text-align: right;
}

tr.known_inconsistency > .diffCell a:visited {
  color: inherit;
}

.knownInconsistencyIcon {
  vertical-align: super;
  width: 0.7em;
}

.textMismatch,
#results.hideMissing tr.missing_after,
#results.hideMissing tr.missing_before,
#results.hideKnownInconsistencies.hideSimilar tr.known_inconsistency.similar,
#results.hideKnownInconsistencies tr.known_inconsistency:not(.similar),
tr:not(.known_inconsistency) > .diffCell .knownInconsistencyIcon,
#results:not(.comparison) .diffCell,
#results:not(.comparison) .newColumn,
#results:not(:empty) ~ #intro,
#results.hideSimilar tr.similar:not(.known_inconsistency) {
  display: none;
}

/* Lightbox styles */

/* The next three rulesets workaround a flicker in the .gslide-description max-width calculation */
.glightbox-container .ginner-container {
  display: grid !important;
  grid-template: "slide" "desc";
  grid-template-rows: 1fr auto;
  grid-template-columns: minmax(min-content, auto);
}

.glightbox-clean .gslide-media, .glightbox-modern .gslide-media {
  grid-area: slide;
}

.glightbox-clean .gslide-description, .glightbox-modern .gslide-description {
  grid-area: desc;
  /* Don't break cropper when resizing the window. This shouldn't be necessary with the grid anyways. */
  max-width: none !important;
}

.gslide-title {
  word-break: break-word;
}

/* It's too annoying when it flickers, especially when traversing vertically
   where there isn't preloading yet. */
.gloader {
  display: none !important;
}

.cropButton + svg,
.fullScreenButton {
  -moz-appearance: none;
  background: none;
  border: none;
  float: right;
  padding: 0 10px;
}

.cropButton:checked + svg {
  color: #0a84ff;
}

:root:fullscreen .fullScreenButton {
  display: none;
}
