/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

a {
  text-decoration: none;
}
/* Include :link with :hover so we don't underline with no @href */
a:link:hover,
a:active {
  text-decoration: underline;
}

body {
  margin: 0;
}

#chooser, #results {
  margin: 10px;
}

#chooser {
  background: white;
  font-size: 0.9em;
  position: sticky;
  top: -17px; /* TODO */
  z-index: 1;
}

#oldCommit, #newCommit {
  max-width: 45vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

progress:not([hidden]) + span {
  display: none;
}

fieldset, legend {
  all: unset;
}

legend {
  display: inline;
  /* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=653870 */
  float: left;
}

#results table {
  border-collapse: collapse;
}

summary {
  background: white;
  cursor: pointer;
  position: sticky;
  top: 70px; /* TODO */
}

summary > h2 {
  display: inline-block;
  margin-bottom: 0.5em;
  margin-top: 0.8em;
}

summary > span {
  margin-left: 1em;
  margin-right: 1em;
}

summary .different {
  color: red;
}

/* only similar for the platform */
summary .similar:first-child:last-child {
  color: green;
}

#oldDate, #oldCommit,
#newDate, #newCommit,
#results td {
  padding: 1px 5px;
}

#results tbody > tr:hover {
  background: #DDD;
}

tr.similar > .diffCell {
  background: green;
  color: white;
  text-align: right;
}

tr.error > .diffCell {
  background: red;
  color: white;
}

tr.missing_after > .diffCell,
tr.missing_before > .diffCell {
  background: yellow;
}

tr.different > .diffCell {
  background: rgba(255, 165, 0, 0.7);
  text-align: right;
}

/* Must be below the equivalent tr.different since they are both applied */
tr.known_inconsistency > .diffCell {
  background: lightblue;
  text-align: right;
}

.diffCell:last-child {
  min-width: 5ex;
}

.textMismatch,
#results.hideMissing tr.missing_after,
#results.hideMissing tr.missing_before,
#results.hideKnownInconsistencies.hideSimilar tr.known_inconsistency.similar,
#results.hideKnownInconsistencies tr.known_inconsistency:not(.similar),
#results.hideSimilar tr.similar:not(.known_inconsistency) {
  display: none;
}

.message-text {
  width: 100%;
  text-align: center;
}
